body{
    text-align: center;
    color: azure;
    background-color: rgb(15, 30, 37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app-name{
    margin-top: 2rem;
    font-weight: bolder;
}
.tagline{
    margin-top: -0.5rem;
    color: rgba(240, 255, 255, 0.932);
    font-size: larger;
    font-family: cursive;
    font-weight: lighter;
}
.ctask{
    width: 18rem;
    border: solid rgb(31, 126, 118);
    border-radius: 10px;
    outline: 0;
    background-color: rgb(190, 218, 218);
    padding: .3rem;
    margin-top: 0.9rem;
    padding-left: 0rem;
    color: rgba(19, 26, 46, 0.822);
    font-weight: bold;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
}
input[type=text]{
    width: 14rem;
    height: max-content;
    border: none;
    outline: 0;
    background-color: rgb(190, 218, 218);
    padding: .3rem;
    color: rgba(19, 26, 46, 0.822);
    font-weight: bold;
    font-size: medium;
}

input:focus-visible{
    color: rgb(29, 48, 48);
}
/*.todos{
    float: left;
    width: 33.3%; 
} */
.todo{
    width: 20rem;
    height: 4rem; /*
    margin-left: auto;
    margin-right: auto; */
    background-color: rgb(190, 218, 218);
    border-radius: 15px;
    margin-top: 0.6rem; 
}
input[type=checkbox]{
    margin-left: 0.9rem;
    margin-top: 1.5rem;
    float: left;
    size: 10px;
}
.task-title{
    padding: 0.5rem; 
    margin-top: 0.6rem;
    margin-right: 1.1rem;
    color: rgb(15, 37, 37);
}
.remove-title{
    text-decoration: 2px  line-through;
}
.remove{
    color: brown;
    font-size: larger;
    font-weight: bolder;
    float: right;
    margin-right: 0.9rem;
    margin-top: -2.2rem;
    cursor: pointer;
}
.remove:active{
    color: red;
}
.remove-false{
    color: darkgreen;
    font-size: larger;
    font-weight: bolder;
    float: right;
    margin-right: 0.9rem;
    margin-top: -2.2rem;
    cursor: pointer;
}
.remove-false:active{
    color: green;
}
.redo{
    color: brown;
    font-size: larger;
    font-weight: bolder;
    float: right;
    margin-right: 0.9rem;
    margin-top: -2rem;
    cursor: pointer;
}
.redo:active{
    color: red;
}
.add{
    color: darkgreen;
    font-family: impact;
    font-size: larger;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.add:active{
    color: green;
}
.time{
    font-size: x-small;
    margin-top: -0.5rem;
    color: rgb(15, 37, 37);
}
.time-main{
    font-size: x-small;
    margin-top: -1rem;
    
    color: rgb(15, 37, 37);
    /*  color: darkolivegreen;*/
}
.todo-done{
    width: 20rem;
    height: 4rem;/* 
    margin-left: auto;
    margin-right: auto; */
    background-color: rgba(150, 212, 156, 0.89);
    border-radius: 15px;
    margin-top: 0.6rem; 
}
.todo-fail{
    width: 20rem;
    height: 4rem;/* 
    margin-left: auto;
    margin-right: auto; */
    background-color: rgba(222, 150, 150, 0.979);
    border-radius: 15px;
    margin-top: 0.6rem; 
}
.ttlr{
    padding: 0.5rem; 
    margin-top: 0.6rem;
    color: rgb(15, 37, 37);
}
/* .dph{
    width: 100px;
    height: 1px;
} */